[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/scnlib"]
	path = 3rdparty/scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/structopt"]
	path = 3rdparty/structopt
	url = https://github.com/p-ranav/structopt
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/simde"]
	path = 3rdparty/simde
	url = https://github.com/simd-everywhere/simde
