# Note the order is intentional to avoid multiple passes of the hooks
minimum_pre_commit_version: 4.5.0
repos:
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
    args: [--maxkb, '1024']
  - id: check-case-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: check-toml
  - id: check-vcs-permalinks
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: fix-byte-order-marker
  - id: check-merge-conflict
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
  - id: pretty-format-toml
    args: [--autofix]
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.2
  hooks:
  - id: clang-format
    types_or: [c++, c, objective-c, objective-c++]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3
  hooks:
  - id: ruff-check
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
    types_or: [python, pyi]
  - id: ruff-format
    types_or: [python, pyi]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]
  - id: end-of-file-fixer
